### ANGGOTA KELOMPOK:
### 1. 13521014 - M. Syauqi Jannatan
### 2. 13521016 - Laila Bilbina
### Kelas : K03

### NO 1
Menulis deskripsi statistika

In [223]:
import pandas as pd

df = pd.read_csv('../data/anggur.csv')
df = df.drop([0])
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,8.40,0.5768,0.2099,3.109590,0.101681,22.555519,16.01,0.9960,3.35,0.57,10.03,8
2,7.54,0.5918,0.3248,3.673744,0.072416,9.316866,35.52,0.9990,3.31,0.64,9.23,8
3,5.39,0.4201,0.3131,3.371815,0.072755,18.212300,41.97,0.9945,3.34,0.55,14.07,9
4,6.51,0.5675,0.1940,4.404723,0.066379,9.360591,46.27,0.9925,3.27,0.45,11.49,8
5,9.18,0.3332,0.2476,2.633491,0.082304,12.232170,51.05,0.9965,3.40,0.63,10.82,8
...,...,...,...,...,...,...,...,...,...,...,...,...
995,7.96,0.6046,0.2662,1.592048,0.057555,14.892445,44.61,0.9975,3.35,0.54,10.41,8
996,8.48,0.4080,0.2227,0.681955,0.051627,23.548965,25.83,0.9972,3.41,0.46,9.91,8
997,6.11,0.4841,0.3720,2.377267,0.042806,21.624585,48.75,0.9928,3.23,0.55,9.94,7
998,7.76,0.3590,0.3208,4.294486,0.098276,12.746186,44.53,0.9952,3.30,0.66,9.76,8
999,5.87,0.5214,0.1883,2.179490,0.052923,16.203864,24.37,0.9983,3.29,0.70,10.17,7

In [224]:
import pandas as pd
import scipy.stats as stats

def desc_stat(column_name):
    df = pd.read_csv('../data/anggur.csv')
    
    mean = df[column_name].mean()
    median = df[column_name].median()
    mode = df[column_name].mode()[0]
    std_deviation = df[column_name].std()
    variance = df[column_name].var()
    data_range = df[column_name].max() - df[column_name].min()
    minimum = df[column_name].min()
    maximum = df[column_name].max()
    q1 = df[column_name].quantile(0.25)
    q2 = df[column_name].quantile(0.5)
    q3 = df[column_name].quantile(0.75)
    iqr = q3 - q1
    skewness = df[column_name].skew()
    kurtosis = df[column_name].kurtosis()
    
    desc_stats = {
        'Statistic': ['Mean', 'Median', 'Mode', 'Standard Deviation', 'Variance', 'Range', 'Minimum', 'Maximum', '1st Quartile', '2nd Quartile', '3rd Quartile', 'IQR', 'Skewness', 'Kurtosis'],
        'Value': [mean, median, mode, std_deviation, variance, data_range, minimum, maximum, q1, q2, q3, iqr, skewness, kurtosis]
    }

    df_desc_stats = pd.DataFrame.from_dict(desc_stats)
    df_desc_stats.set_index('Statistic', inplace=True)

    df_desc_stats = df_desc_stats.applymap('{:.3f}'.format)
    
    return df_desc_stats

Deskripsi Statistika Kolom Fixed Acidity

In [225]:
desc_stat('fixed acidity')

                     Value
Statistic
Mean                 7.153
Median               7.150
Mode                 6.540
Standard Deviation   1.202
Variance             1.444
Range                8.170
Minimum              3.320
Maximum             11.490
1st Quartile         6.377
2nd Quartile         7.150
3rd Quartile         8.000
IQR                  1.623
Skewness            -0.029
Kurtosis            -0.019

Deskripsi Statistika Kolom volatile acidity

In [226]:
desc_stat('volatile acidity')

                     Value
Statistic
Mean                 0.521
Median               0.525
Mode                 0.555
Standard Deviation   0.096
Variance             0.009
Range                0.665
Minimum              0.140
Maximum              0.805
1st Quartile         0.456
2nd Quartile         0.525
3rd Quartile         0.585
IQR                  0.129
Skewness            -0.198
Kurtosis             0.162

Deskripsi Statistika Kolom Citric Acid

In [227]:
desc_stat('citric acid')

                     Value
Statistic
Mean                 0.271
Median               0.272
Mode                 0.302
Standard Deviation   0.049
Variance             0.002
Range                0.293
Minimum              0.117
Maximum              0.410
1st Quartile         0.238
2nd Quartile         0.272
3rd Quartile         0.302
IQR                  0.065
Skewness            -0.046
Kurtosis            -0.105

deskripsi statistika kolom residual sugar

In [228]:
desc_stat('residual sugar')

                     Value
Statistic
Mean                 2.567
Median               2.519
Mode                 0.033
Standard Deviation   0.988
Variance             0.976
Range                5.518
Minimum              0.033
Maximum              5.551
1st Quartile         1.896
2nd Quartile         2.519
3rd Quartile         3.221
IQR                  1.325
Skewness             0.133
Kurtosis            -0.043

deskripsi statistika kolom chlorides

In [229]:
desc_stat('chlorides')

                     Value
Statistic
Mean                 0.081
Median               0.082
Mode                 0.015
Standard Deviation   0.020
Variance             0.000
Range                0.126
Minimum              0.015
Maximum              0.141
1st Quartile         0.067
2nd Quartile         0.082
3rd Quartile         0.095
IQR                  0.029
Skewness            -0.051
Kurtosis            -0.247

deskripsi statistika kolom free sulfur dioxide

In [230]:
desc_stat('free sulfur dioxide')

                     Value
Statistic
Mean                14.908
Median              14.860
Mode                 0.195
Standard Deviation   4.888
Variance            23.894
Range               27.268
Minimum              0.195
Maximum             27.463
1st Quartile        11.427
2nd Quartile        14.860
3rd Quartile        18.313
IQR                  6.886
Skewness             0.007
Kurtosis            -0.365

deskripsi statistika kolom total sulfur dioxide

In [231]:
desc_stat('total sulfur dioxide')

                     Value
Statistic
Mean                40.290
Median              40.190
Mode                35.200
Standard Deviation   9.966
Variance            99.317
Range               66.810
Minimum              3.150
Maximum             69.960
1st Quartile        33.785
2nd Quartile        40.190
3rd Quartile        47.023
IQR                 13.238
Skewness            -0.024
Kurtosis             0.064

deskripsi statistika kolom density

In [232]:
desc_stat('density')

                     Value
Statistic
Mean                 0.996
Median               0.996
Mode                 0.996
Standard Deviation   0.002
Variance             0.000
Range                0.014
Minimum              0.989
Maximum              1.003
1st Quartile         0.995
2nd Quartile         0.996
3rd Quartile         0.997
IQR                  0.003
Skewness            -0.077
Kurtosis             0.016

deskripsi statistika kolom pH

In [233]:
desc_stat('pH')

                    Value
Statistic
Mean                3.304
Median              3.300
Mode                3.340
Standard Deviation  0.105
Variance            0.011
Range               0.740
Minimum             2.970
Maximum             3.710
1st Quartile        3.230
2nd Quartile        3.300
3rd Quartile        3.370
IQR                 0.140
Skewness            0.148
Kurtosis            0.081

deskripsi statistika kolom sulphates

In [234]:
desc_stat('sulphates')

                    Value
Statistic
Mean                0.598
Median              0.595
Mode                0.590
Standard Deviation  0.101
Variance            0.010
Range               0.670
Minimum             0.290
Maximum             0.960
1st Quartile        0.530
2nd Quartile        0.595
3rd Quartile        0.670
IQR                 0.140
Skewness            0.149
Kurtosis            0.065

deskripsi statistika kolom alcohol

In [235]:
desc_stat('alcohol')

                     Value
Statistic
Mean                10.592
Median              10.610
Mode                 9.860
Standard Deviation   1.511
Variance             2.282
Range                8.990
Minimum              6.030
Maximum             15.020
1st Quartile         9.560
2nd Quartile        10.610
3rd Quartile        11.622
IQR                  2.062
Skewness            -0.019
Kurtosis            -0.132